.root{
    /* Colors */
    -fx-control-base-color: #AAAAAA; /* All components theme color */
    -fx-control-base-focused-color: derive(-fx-control-base-color, -20%);
    -fx-app-base-color: #EE7361;

    -fx-control-body-color: #FFFFFF;
    -fx-button-text-color: #FFFFFF;
    -fx-progress-bar-color: -fx-app-base-color;
    -fx-progress-track-color: transparent;

    -fx-submit-progress-bar-color: derive(-fx-app-base-color, -20%);
    -fx-submit-progress-track-color: transparent;

    -fx-unselected-toggle-border : -fx-control-base-color;
    -fx-unselected-toggle-background : -fx-control-body-color;
    -fx-selected-toggle-border : -fx-app-base-color;
    -fx-selected-toggle-background : -fx-app-base-color;
    -fx-unselected-toggle-thumb-background : derive(-fx-control-base-color, 30%);
    -fx-selected-toggle-thumb-background : -fx-control-body-color;
}

/**
 *  Label & Text
 */
.label, .text,
.text-input,
.slider{
    -fx-font-family: Verdana;
    -fx-font-size: 14px;
}

/**
 *  Progress Bar
 */
.progress-bar{
    -fx-pref-width: Infinity;
    -fx-accent: -fx-progress-bar-color;
}

.progress-bar .bar {
    -fx-padding: 4px;
    -fx-background-insets: 0;
    -fx-background-radius: 4;
}

.progress-bar > .track {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color: -fx-progress-track-color;
}

/**
 *  Scroll Pane
 */
.scroll-pane,
.scroll-pane:focused{
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
    -fx-background-radius: 0px;
    -fx-border-width: 0px;
}

.scroll-pane > .viewport,
.scroll-pane > .corner{
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
    -fx-background-radius: 0px;
}

.scroll-pane .scroll-bar:vertical {
  -fx-pref-width: 12;
  -fx-padding: 0;
}

.scroll-pane .scroll-bar:vertical .track-background {
  -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical .decrement-button:hover,
.scroll-pane .scroll-bar:vertical .increment-button:hover {
  -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical .decrement-button:hover .decrement-arrow,
.scroll-pane .scroll-bar:vertical .decrement-button:hover > .increment-arrow,
.scroll-pane .scroll-bar:vertical .increment-button:hover .decrement-arrow,
.scroll-pane .scroll-bar:vertical .increment-button:hover > .increment-arrow {
  -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical .decrement-button {
  -fx-pref-height: 0;
  -fx-pref-width: 0;
  -fx-padding: 0;
}

.scroll-pane .scroll-bar:vertical .decrement-button .decrement-arrow {
  -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical .increment-button {
  -fx-pref-height: 0;
  -fx-pref-width: 0;
  -fx-padding: 0;
}

.scroll-pane .scroll-bar:vertical .increment-button .increment-arrow {
  -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical .track {
  -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical .thumb {
  -fx-background-color: -fx-scroll-bar-thumb;
}

.scroll-pane .scroll-bar:horizontal {
  -fx-pref-height: 12;
  -fx-padding: 0;
}

.scroll-pane .scroll-bar:horizontal .track-background {
  -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:horizontal .decrement-button:hover,
.scroll-pane .scroll-bar:horizontal .increment-button:hover {
  -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:horizontal .decrement-button:hover .decrement-arrow,
.scroll-pane .scroll-bar:horizontal .decrement-button:hover > .increment-arrow,
.scroll-pane .scroll-bar:horizontal .increment-button:hover .decrement-arrow,
.scroll-pane .scroll-bar:horizontal .increment-button:hover > .increment-arrow {
  -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:horizontal .decrement-button {
  -fx-pref-height: 0;
  -fx-pref-width: 0;
  -fx-padding: 0;
}

.scroll-pane .scroll-bar:horizontal .decrement-button .decrement-arrow {
  -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:horizontal .increment-button {
  -fx-pref-height: 0;
  -fx-pref-width: 0;
  -fx-padding: 0;
}

.scroll-pane .scroll-bar:horizontal .increment-button .increment-arrow {
  -fx-background-color: transparent;
}

.scroll-pane .scroll-bar,
.scroll-pane .scroll-bar .track-background,
.scroll-pane .scroll-bar .track {
  -fx-background-color: transparent !important;
}

.scroll-pane .scroll-bar:horizontal .thumb {
  -fx-background-color: -fx-scroll-bar-thumb;
}

/**
 *  Button
 */
.app-button,
.app-button:focused{
    -fx-background-color: -fx-app-base-color;
    -fx-background-insets: 0;
    -fx-background-radius: 2px;
    -fx-padding: 6px 10px 6px 10px;
    -fx-text-fill: -fx-button-text-color;
}

.app-button:hover,
.app-button:focused:hover{
    -fx-background-color: derive(-fx-app-base-color, -15%); /* Making it darker */
}

.app-button:armed{
    -fx-background-color: derive(-fx-app-base-color, -10%);
}

/**
 *  CheckBox
 */
.check-box {
    -fx-label-padding: 0px 0px 0px 8px;
}

.check-box > .box,
.check-box:focused > .box{
    -fx-background-color: -fx-control-base-color, -fx-control-body-color;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 2, 1;
    -fx-padding: 3px 3px 4px 4px;
}

.check-box > .box > .mark {
    -fx-padding: 6px 6px 7px 7px;
}

.check-box:selected > .box > .mark {
    -fx-background-color: -fx-mark-highlight-color, derive(-fx-control-base-color, -20%);
    -fx-background-insets: 1 0 -1 0, 0;
}

/**
 *  RadioButton
 */
.radio-button {
    -fx-label-padding: 0px 0px 0px 8px;
}

.radio-button > .radio,
.radio-button:focused > .radio  {
   -fx-background-color: -fx-control-base-color, -fx-control-body-color;
   -fx-background-insets: 0, 1;
   -fx-padding: 5px;
}

.radio-button > .radio > .dot {
   -fx-padding: 5px;
}

.radio-button:selected > .radio > .dot {
    -fx-background-color: -fx-mark-highlight-color, derive(-fx-control-base-color, -20%);
    -fx-background-insets: 1 0 -1 0, 0;
}

/**
 *  Text Common
 */
.text-input,
.text-input:focused{
    -fx-background-color: -fx-control-base-color, -fx-control-body-color;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2
    -fx-padding: 0.333333em 0.583em 0.333333em 0.583em; /* 4 7 4 7 */
}

.text-input:focused{
    -fx-background-color: -fx-control-base-focused-color, -fx-control-body-color;
}

/**
 *  TextArea
 */
.text-area{
    -fx-background-color: -fx-control-base-color, -fx-control-body-color;
}

.text-area:focused{
    -fx-background-color: -fx-control-base-focused-color, -fx-control-body-color;
}

.text-area .content,
.text-area:focused .content{
    -fx-background-color:-fx-control-body-color;
    -fx-background-radius: 2;
    -fx-background-insets: 0;
}

/**
 *  DatePicker
 */
.date-picker > .arrow-button{
    -fx-background-color: -fx-control-base-color, -fx-body-color;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0 3 3 0, 0 2 2 0;
}

.date-picker > .text-field{
    -fx-background-color:-fx-control-base-color, -fx-control-body-color;
    -fx-background-insets: 0, 1 0 1 1;
    -fx-background-radius: 2 0 0 2;
}

.date-picker:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.date-picker:focused > .arrow-button,
.date-picker > .arrow-button:focused{
    -fx-background-color: -fx-control-base-focused-color, -fx-body-color;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0 3 3 0, 0 2 2 0;
}

.date-picker:focused > .text-field,
.date-picker > .text-field:focused{
    -fx-background-color:-fx-control-base-focused-color, -fx-control-body-color;
    -fx-background-insets: 0, 1 0 1 1;
    -fx-background-radius: 2 0 0 2;
}

/**
 *  ComboBox
 */
.combo-box, .combo-box:focused{
    -fx-background-color:transparent;
    -fx-background-insets: 0px;
    -fx-background-radius: 0px;
}

.combo-box > .list-cell,
.combo-box > .list-cell:focused{
    -fx-background-color:-fx-control-base-color, -fx-control-body-color;
    -fx-background-insets: 0, 1 0 1 1;
    -fx-background-radius: 2 0 0 2;
}

.combo-box:focused > .list-cell{
    -fx-background-color:-fx-control-base-focused-color, -fx-control-body-color;
    -fx-background-insets: 0, 1 0 1 1;
    -fx-background-radius: 2 0 0 2;
}

.combo-box > .arrow-button{
    -fx-background-color: -fx-control-base-color, -fx-body-color;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0 3 3 0, 0 2 2 0;
}

.combo-box:focused > .arrow-button,
.combo-box > .arrow-button:focused{
    -fx-background-color: -fx-control-base-focused-color, -fx-body-color;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0 3 3 0, 0 2 2 0;
}

/**
 *  Slider
 */
.slider .thumb {
    -fx-background-color:-fx-control-base-color, -fx-body-color;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 1.0em; /* makes sure this remains circular */
    -fx-padding: 10px;
    -fx-effect: dropshadow(two-pass-box , rgba(0, 0, 0, 0.1), 5, 0.0 , 0, 2);
}

.slider:focused .thumb {
    -fx-background-color:-fx-control-base-focused-color, -fx-body-color;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 1.0em; /* makes sure this remains circular */
}

.slider .track {
    -fx-background-color:-fx-control-base-color, -fx-body-color;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0.25em, 0.25em, 0.166667em; /* 3 3 2 */
    -fx-padding: 0.25em; /* 3 */
}

.slider .axis {
    -fx-tick-length: 6px;
    -fx-minor-tick-length: 4px;
}
/**
 *  Submit Progress Bar
 */
.submit-progress-bar {
    -fx-accent: -fx-submit-progress-bar-color;
}

.submit-progress-bar .bar {
    -fx-padding: 2px;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.submit-progress-bar > .track {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color: -fx-submit-progress-track-color;
}

/**
 * Toggle switch checkbox
 */
 .check-box.toggle-switch{
    -fx-cursor: hand;
 }

.check-box.toggle-switch > .box,
.check-box.toggle-switch:focused > .box{
    -fx-padding: 1px 15px 1px 0px !important;
    -fx-background-color: -fx-unselected-toggle-border, -fx-unselected-toggle-background;
    -fx-background-insets: 0, 1 !important;
    -fx-background-radius: 12px, 11px !important;
    -fx-border-width: 0px !important;
 }

.check-box.toggle-switch:selected > .box,
.check-box.toggle-switch:selected:focused > .box{
    -fx-padding: 1px 0px 1px 15px !important;
    -fx-background-color: -fx-selected-toggle-border, -fx-selected-toggle-background;
}

.check-box.toggle-switch > .box > .mark {
    -fx-background-color: -fx-unselected-toggle-border, -fx-unselected-toggle-thumb-background;
    -fx-padding: 9px;
    -fx-background-insets: 0, 1;
    -fx-shape: "M 100, 100 m -75, 0 a 75,75 0 1,0 150,0 a 75,75 0 1,0 -150,0z";
}

.check-box.toggle-switch:selected > .box > .mark{
    -fx-background-color: -fx-selected-toggle-border, -fx-selected-toggle-thumb-background;
}
