.root{
    /* Colors */
    -fx-app-background: #F6F5F8;
    -fx-app-border-color: #555555;
    -fx-menu-background: #2D3038;
    -fx-menu-highlight-line: #358DD8;
    -fx-scroll-bar-thumb: #A5A5A5;

    -fx-info-pane-border: #DDDDDD;
    -fx-info-pane-background: #FFFFFF;
    -fx-info-pane-shadow: #AAAAAA;

    -fx-dob-color: #777777;
    -fx-initials-color: #FEFEFE;
    -fx-level1: #F8C02F;
    -fx-level2: #2290D2;
    -fx-level3: #FF3365;
    -fx-level-shadow: #999999;

    -fx-progress-bar-color: #FF7361;
    -fx-progress-track-color: transparent;

    /* Common properties */
    -fx-background-color: -fx-app-background;
}

.label, .text{
    -fx-font-family: verdana;
    -fx-font-size: 14px;
}

/**
 *  Menu Pane
 */
.menuPane{
    -fx-background-color: -fx-menu-background;
}

.menuItemsPane{
    -fx-alignment: center;
}

.menuItemsPane .button,
.menuItemsPane .button:pressed,
.menuItemsPane .button:focused {
    -fx-background-color: -fx-menu-background;
    -fx-background-insets: 0px;
    -fx-background-radius: 0px;
    -fx-padding:15px;
    -fx-pref-width: Infinity;
}

.menuItemsPane .button:hover{
    -fx-background-color: -fx-menu-highlight-line, -fx-menu-background;
    -fx-background-insets: 0px, 0px 0px 0px 4px;
    -fx-background-radius: 0px;
}

#logo{
    -fx-background-image: url("../images/logo.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-pref-width: Infinity;
    -fx-min-height: 62px;
    -fx-max-height: 62px;
}

#homeButton{
    -fx-graphic: url("../images/home.png");
}

#homeButton:hover{
    -fx-graphic: url("../images/home_hover.png");
}

#inboxButton{
    -fx-graphic: url("../images/inbox.png");
}

#inboxButton:hover{
    -fx-graphic: url("../images/inbox_hover.png");
}

#peopleButton{
    -fx-graphic: url("../images/people.png");
}

#peopleButton:hover{
    -fx-graphic: url("../images/people_hover.png");
}

#scheduleButton{
    -fx-graphic: url("../images/schedule.png");
}

#scheduleButton:hover{
    -fx-graphic: url("../images/schedule_hover.png");
}

#invoiceButton{
    -fx-graphic: url("../images/invoice.png");
}

#invoiceButton:hover{
    -fx-graphic: url("../images/invoice_hover.png");
}

#chartButton{
    -fx-graphic: url("../images/chart.png");
}

#chartButton:hover{
    -fx-graphic: url("../images/chart_hover.png");
}

#settingsButton{
    -fx-graphic: url("../images/settings.png");
}

#settingsButton:hover{
    -fx-graphic: url("../images/settings_hover.png");
}

/**
 *  Search Pane
 */
.searchPane{
    -fx-padding: 10px;
    -fx-alignment: center-left;
}

.search-box .text-field {
      -fx-background-insets: 0 -12 0 0 , 1 -11 1 1;
      -fx-background-radius: 12px, 11px;
      -fx-padding: 4px 7px 4px 9px;
}
.search-box .text-field:focused {
      -fx-background-radius: 12px, 11px, 13px, 11px;
}

.search-box .search-magnifying-glass {
    -fx-shape: "M11.936,13.663c-1.105,0.694-2.412,1.095-3.81,1.095c-3.963,0-7.188-3.224-7.188-7.187c0-3.963,3.224-7.188,7.188-7.188
        c3.963,0,7.187,3.224,7.187,7.188c0,1.854-0.706,3.546-1.862,4.822l4.23,4.602c0.374,0.407,0.347,1.039-0.06,1.413
        c-0.192,0.176-0.435,0.264-0.676,0.264c-0.271,0-0.54-0.109-0.737-0.323 M8.125,2.384c-2.86,0-5.188,2.327-5.188,5.188
        s2.327,5.187,5.188,5.187s5.187-2.327,5.187-5.187S10.986,2.384,8.125,2.384z";
    -fx-background-color: -fx-app-border-color;
    -fx-background-insets: 0 6 0 -6;
    -fx-min-width: 10px;
    -fx-max-width: 10px;
    -fx-min-height: 10px;
    -fx-max-height: 10px;
}

.search-box .search-clear {
    -fx-shape: "M7.26,5.444l3.503,3.504c0.344,0.344,0.344,0.901,0,1.245c-0.172,0.172-0.397,0.258-0.623,0.258
        c-0.225,0-0.45-0.086-0.623-0.258L6.087,6.498l-3.584,3.697c-0.172,0.172-0.397,0.258-0.623,0.258
        c-0.226,0-0.451-0.086-0.623-0.258c-0.344-0.344-0.344-0.901,0-1.245l3.507-3.508L1.258,1.933c-0.344-0.344-0.344-0.901,0-1.245
        c0.344-0.344,0.901-0.344,1.245,0l3.509,3.508c-0.001,0,3.506-3.508,3.506-3.508c0.344-0.344,0.901-0.344,1.245,0
        c0.344,0.344,0.344,0.901,0,1.245";
    -fx-background-color:  -fx-app-border-color;
    -fx-background-insets: 1 7 1 -5;
    -fx-min-width: 10px;
    -fx-max-width: 10px;
    -fx-min-height: 10px;
    -fx-max-height: 10px;
}

.search-box:focused .search-magnifying-glass,
.search-box:focused .search-clear{
    -fx-background-color:  -fx-app-border-color;
}

.infoFlowPane{
    -fx-padding: 20px;
    -fx-hgap: 20px;
    -fx-vgap: 20px;
}

.back-button,
.back-button:focused,
.back-button:hover,
.back-button:pressed{
    -fx-graphic: url("../images/back-button.png");
    -fx-background-color:transparent;
    -fx-background-radius: 0px;
    -fx-background-insets:0px;
}

/**
 *  Info Tile Pane
 */
.infoPane{
    -fx-alignment: top-left;
    -fx-border-width: 1px;
    -fx-border-color: -fx-info-pane-border;
    -fx-background-color: -fx-info-pane-background;
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
    -fx-min-width: 215x;
    -fx-pref-width: 215px;
    -fx-min-height: 240px;
    -fx-pref-height: 240px;
}

.infoPane:hover{
    -fx-effect: dropshadow(gaussian, -fx-info-pane-shadow, 15, 0, 0, 0);
}

.infoTopPane{
    -fx-padding: 25px 20px 15px 20px;
    -fx-alignment: center-right;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: -fx-info-pane-border;
}

.infoBottomPane{
    -fx-padding: 40px 20px 15px 25px;
}

.infoBottomPane .label{
    -fx-text-fill: -fx-menu-background;
}

.levelCircle{
    -fx-effect: dropshadow(gaussian, -fx-level-shadow, 15, 0, 0, 0);
}

.levelCircle.level1{
    -fx-fill: radial-gradient(focus-distance 0% , center 50% 50% , radius 75% , derive(-fx-level1,50%), -fx-level1);
}

.levelCircle.level2{
    -fx-fill: radial-gradient(focus-distance 0% , center 50% 50% , radius 75% , derive(-fx-level2,50%), -fx-level2);
}

.levelCircle.level3{
    -fx-fill: radial-gradient(focus-distance 0% , center 50% 50% , radius 75% , derive(-fx-level3,50%), -fx-level3);
}

.initialsPane{
    -fx-padding: 20px 0px 0px 25px;
}

.initialsLabel{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-initials-color;
}

.fullNameLabel{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 0px 0px 15px 0px;
}

.infoLabel{
    -fx-font-size: 14px;
}

.dobLabel{
    -fx-text-fill: -fx-dob-color;
}

/**
 *  Utility Tile Pane
 */
.utilityTilePane{
    -fx-padding: 20px 20px 20px 0px;
}

.utitlityTitlePane{
    -fx-alignment: center-left;
    -fx-padding: 0px 0px 8px 0px;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: -fx-info-pane-border;
}

.utitlityTitlePane .label{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.utitlityDescriptionLabel{
    -fx-padding: 10px 0px 0px 0px;
    -fx-font-size: 14px;
}

.iconPane{
    -fx-pref-weight: 72px;
    -fx-min-width: 72px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center top;
}

.iconPane.iphone{
    -fx-background-image: url("../images/apple-logo.png")
}

.iconPane.android{
    -fx-background-image: url("../images/android.png")
}

.iconPane.chrome{
    -fx-background-image: url("../images/chrome.png")
}

.iconPane.outlook{
    -fx-background-image: url("../images/outlook.png")
}

.iconPane.firefox{
    -fx-background-image: url("../images/firefox.png")
}

.iconPane.desktop{
    -fx-background-image: url("../images/desktop.png")
}

.iconPane.microsoft{
    -fx-background-image: url("../images/microsoft.png")
}

.iconPane.opera{
    -fx-background-image: url("../images/opera.png")
}

.iconPane.safari{
    -fx-background-image: url("../images/safari.png")
}

.refreshPane{
    -fx-background-image: url("../images/refresh.png");
    -fx-background-repeat: no-repeat;
    -fx-min-width:34px;
    -fx-min-height:24px;
    -fx-max-width:34px;
    -fx-max-height:24px;
}

.searchPane,
.navigationPane{
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: -fx-app-border-color;
}

.formContainer,
.detailsContainer{
    -fx-padding: 30px;
}

.formTitleLabel .text{
    -fx-font-size: 22px;
}

.utilityFormLayout,
.requestDetailsLayout{
    -fx-hgap: 30px;
    -fx-vgap: 6px;
}

.personFormLayout{
    -fx-hgap: 30px;
    -fx-vgap: 15px;
}

.formLabel{
    -fx-padding: 10px 0px 0px 0px;
}

.formLabel .text,
.personFormLabel .text{
    -fx-font-size: 16px;
}

#detailsTitleLabel{
    -fx-graphic: url("../images/check_64.png");
    -fx-graphic-text-gap: 15px;
}

/**
 *  Progress Bar
 */
.progress-bar{
    -fx-pref-width: Infinity;
    -fx-accent: -fx-progress-bar-color;
}

.progress-bar .bar {
    -fx-padding: 4px;
    -fx-background-insets: 0;
    -fx-background-radius: 4;
}

.progress-bar > .track {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color: -fx-progress-track-color;
}

.submit-progress-bar {
    -fx-accent: rgba(0, 138, 230, 0.85);
}

.submit-progress-bar .bar {
    -fx-padding: 2px;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.submit-progress-bar > .track {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

/**
 *  Scroll Pane
 */
.scroll-pane,
.scroll-pane:focused{
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
    -fx-background-radius: 0px;
    -fx-border-width: 0px;
}

.scroll-pane > .viewport,
.scroll-pane > .corner{
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
    -fx-background-radius: 0px;
}

.scroll-pane .scroll-bar:vertical {
  -fx-pref-width: 12;
  -fx-padding: 0;
}

.scroll-pane .scroll-bar:vertical .track-background {
  -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical .decrement-button:hover,
.scroll-pane .scroll-bar:vertical .increment-button:hover {
  -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical .decrement-button:hover .decrement-arrow,
.scroll-pane .scroll-bar:vertical .decrement-button:hover > .increment-arrow,
.scroll-pane .scroll-bar:vertical .increment-button:hover .decrement-arrow,
.scroll-pane .scroll-bar:vertical .increment-button:hover > .increment-arrow {
  -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical .decrement-button {
  -fx-pref-height: 0;
  -fx-pref-width: 0;
  -fx-padding: 0;
}

.scroll-pane .scroll-bar:vertical .decrement-button .decrement-arrow {
  -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical .increment-button {
  -fx-pref-height: 0;
  -fx-pref-width: 0;
  -fx-padding: 0;
}

.scroll-pane .scroll-bar:vertical .increment-button .increment-arrow {
  -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical .track {
  -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical .thumb {
  -fx-background-color: -fx-scroll-bar-thumb;
}

.scroll-pane .scroll-bar:horizontal {
  -fx-pref-height: 12;
  -fx-padding: 0;
}

.scroll-pane .scroll-bar:horizontal .track-background {
  -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:horizontal .decrement-button:hover,
.scroll-pane .scroll-bar:horizontal .increment-button:hover {
  -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:horizontal .decrement-button:hover .decrement-arrow,
.scroll-pane .scroll-bar:horizontal .decrement-button:hover > .increment-arrow,
.scroll-pane .scroll-bar:horizontal .increment-button:hover .decrement-arrow,
.scroll-pane .scroll-bar:horizontal .increment-button:hover > .increment-arrow {
  -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:horizontal .decrement-button {
  -fx-pref-height: 0;
  -fx-pref-width: 0;
  -fx-padding: 0;
}

.scroll-pane .scroll-bar:horizontal .decrement-button .decrement-arrow {
  -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:horizontal .increment-button {
  -fx-pref-height: 0;
  -fx-pref-width: 0;
  -fx-padding: 0;
}

.scroll-pane .scroll-bar:horizontal .increment-button .increment-arrow {
  -fx-background-color: transparent;
}

.scroll-pane .scroll-bar,
.scroll-pane .scroll-bar .track-background,
.scroll-pane .scroll-bar .track {
  -fx-background-color: transparent !important;
}

.scroll-pane .scroll-bar:horizontal .thumb {
  -fx-background-color: -fx-scroll-bar-thumb;
}